@import "tailwindcss";

:root {
  --font-inter: "Inter", -apple-system, Roboto, Helvetica, sans-serif;
  --font-manrope: "Manrope", -apple-system, Roboto, Helvetica, sans-serif;
  --radius: 0.5rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: dark;
  }
}

body {
  font-family: var(--font-inter);
}

html {
  font-family: var(--font-inter);
}
